.sidebar {
  width: 300px;
  height: 100vh;
  background-color: #232323;
  position: fixed;
  flex: 1;
  font-family: 'Fjalla One';
  box-sizing: border-box;
  padding-left: 50px;
  color: #f0f0f0;
  nav {
    width: 100%;
    height: 240px; 
    overflow: hidden;
    p {
      width: 100%;
      line-height: 60px;
      font-size: 1.5rem;
      cursor: pointer;
      transition: 0.2s;
      &:hover {
        color: white;
        text-shadow: 0px 0px 5px white;
        margin-left: 5px;
      }
    }
  }
  .name {
    position: absolute;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
    padding-bottom: 50px;
    padding-right: 50px;
    text-transform: uppercase;
    h1 {
      font-size: 2.2rem;
      letter-spacing: -1px;
      line-height: 50px;
    }
    h2 {
      font-size: 1rem;
      letter-spacing: 5px;
    }
  }
}

.nav-name {
  position: absolute;
  right: 0;
  text-align: center;
  width: 100px;
  height: 200px;
  top: 0; bottom: 0; 
  margin: auto;
  h1 {
    width: 80px;
    line-height: 80px;
    font-size: 3rem;
    margin-left: 5px;
    writing-mode: vertical-rl;
    overflow: hidden;
    text-align: center;
    height: 200px;
    text-orientation: sideways-right;
    font-family: 'Fjalla One';
  }
}