$font: 'Montserrat';

$bFont: 'Fjalla One';
$headerHeight: 200px;
$titleOffset: -100px;
$bgTitleSize: 10rem;
$titleSize: 4rem;

$projectWidth: 22%;
$projectHeight: 240px;
$projectMargin: 2%;

$imageHeight: 200px;
.projects {
  background: #e0e0e0;
  padding-top: 120px;
  padding-bottom: 50px;
  .content {

    .projects-display {
      width: 100%;
      height: auto;
      overflow: auto;
      padding-top: 50px;
      .project {
        width: $projectWidth;
        height: $projectHeight;
        color: black;
        margin: 25px $projectMargin;
        float: left;
        text-align: center;
        font-family: $font;
        cursor: pointer;
        &:nth-of-type(4n + 1) {
          margin-left: 0;
        }
        &:nth-of-type(4n + 4) {
          margin-right: 0;
        }

        .image {
          width: 100%;
          height: $imageHeight;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
        .name {
          box-sizing: border-box;
          padding: 0 10px;
          line-height: 40px;
          width: 100%;
          height: 40px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          font-size: 1.1rem;
        }
      }
    }
  }
}

@media (max-width: 1400px) {
  $projectWidth: 30%;
  $projectMargin: 2.5%;
  .projects {
    .content {
      .projects-display {
        .project {
          width: $projectWidth;
          margin: 25px $projectMargin;
          &:nth-of-type(4n + 1) {margin-left: 2.5%;}
          &:nth-of-type(4n + 4) {margin-right: 2.5%;}
          &:nth-of-type(3n + 1) {margin-left: 0;}
          &:nth-of-type(3n + 3) {margin-right: 0;}
        }
      }
    }
  }
}

@media (max-width: 850px) {
  $projectWidth: 47.5%;
  $projectHeight: 240px;
  $projectMargin: 2.5%;
  .projects {
    .content {
      .projects-display {
        .project {
          width: $projectWidth;
          height: $projectHeight;
          margin: 25px $projectMargin;
          &:nth-of-type(3n + 1) {margin-left: $projectMargin;}
          &:nth-of-type(3n + 3) {margin-right: $projectMargin;}
          &:nth-of-type(2n + 1) {margin-left: 0;}
          &:nth-of-type(2n + 2) {margin-right: 0;}
        }
      }
    }
  }
}

@media (max-width: 650px) {
  $bgTitleSize: 9rem;
  $projectWidth: 100%;
  $projectHeight: 290px;
  $projectMargin: 0%;
  $imageHeight: 250px;
  .projects {
    .content {

      .projects-display {
        .project {
          width: $projectWidth;
          height: $projectHeight;
          margin: 25px $projectMargin;

          &:nth-of-type(2n + 1) {margin-left: $projectMargin;}
          &:nth-of-type(2n + 2) {margin-right: $projectMargin;}

          .image {height: $imageHeight;}
        }
      }
    }
  }
}

@media (max-width: 550px) {
  .projects {
    .content {
      .projects-display {padding-top: 0px;}
    }
  }
}

@media (max-width: 500px) {
  $projectHeight: 240px;
  $imageHeight: 200px;
  .projects {
    .content {
      .projects-display {
        .project {
          height: $projectHeight;
          .image {height: $imageHeight;}
        }
      }
    }
  }
}
