$font: 'Fjalla One';
$white: #f0f0f0;
$black: #232323;

.contact {
  height: 550px;
  .contact-info {
    width: 500px;
    width: 100%;
    padding-left: 50px;
    padding-right: 450px;
    box-sizing: border-box;
    font-family: $font;
    text-align: center;
    color: $black;
    .contact-text {
      h2 {
        font-size: 5rem;
        margin-bottom: 50px;
      }
      p {
        font-size: 2rem;
        margin-bottom: 50px;
      }
    }
    .contact-method {
      .method {
        width: 50%;
        height: 80px;
        float: left;
        a {
          color: $black;
          // color: black;
          text-decoration: none;
          line-height: 80px;              
        }
      }
    }
  }
  .contact-form {
    position: absolute;
    background-color: $black;
    width: 400px;
    overflow: hidden;
    height: 100%;
    top: 0; bottom: 0; right: 0;
    margin: auto;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.3);
    font-family: $font;
    padding: 20px 30px;
    box-sizing: border-box;
    text-align: center;
    display: flex;
    flex-direction: column;
    transition: 0.5s;

    &.opened {
      .toggle {
        .arrow-head {
          .top, .bottom {
            right: 0;
          }
          .top {
            transform-origin: right bottom;
          }
          .bottom {
            transform-origin: right top;
          }
        }
        .arrow {
          width: 100%;
          height: 3px;
          background-color: $white;
        }
      }
    }
    .toggle {
      width: 30px; height: 30px;
      position: absolute;
      bottom: 10px;left: 10px;
      transition: 0.5s;
      cursor: pointer;
      opacity: 0;
      display: none;
      .arrow-head {
        width: 100%;
        padding-top: 10px;
        

        .top, .bottom {
          background-color: $white;
          width: 50%;
          height: 2px;
          position: absolute;
          transition: 1s;
        }
        .top {
          transform: rotate(-30deg);
          transform-origin: left bottom;
        }
        .bottom {
          transform: rotate(30deg);
          transform-origin: left top;
        }
      }
      .arrow {
        width: 100%;
        height: 3px;
        background-color: $white;
      }
    }
    .contact-form-ws {flex: 1;}
    .contact-title {
      font-size: 3rem;
      color: $white;
      flex: 2;
    }
    form {
      flex: 8; 
      display: flex; 
      flex-direction: column;
      input, textarea, button {
        font-family: $font;
        width: 100%;
        border: none;
        padding: 5px 10px;
        box-sizing: border-box;
        margin-top: 25px;
        background-color: $white;
        font-size: 1rem;
      }
      input {
        height: 40px;
        flex: 1;
      }
      button {
        cursor: pointer;
        letter-spacing: 2px;
        font-size: 1.5rem;
        flex: 1;
      }
      textarea {
        height: 150px;
        resize: none;
        flex: 5;
      }
    }
  }
}

@media (max-width: 1400px) {
  .contact {
    .contact-info {padding-right: 350px;}
    .contact-form {width: 300px;}
  }
}


@media (max-width: 1200px) {
  .contact {
    .contact-info {
      padding-right: 300px;
      .contact-text {
        h2 {font-size: 4.5rem;}
        p {font-size: 1.7rem;}
      }
    }
    .contact-form {
      width: 250px;
      .contact-title {font-size: 2.5rem;}
    }
  }
}


@media (max-width: 1050px) {
  .contact {
    height: auto;
    &.opened {
      .contact-form {
        width: 350px;
        padding: 20px 30px;
      }
    }
    .contact-info {
      padding-right: 100px;
      .contact-text {
        h2 {font-size: 4rem;}
        p {font-size: 1.5rem;}
      }
    }
    .contact-form {
      width: 50px;
      padding: 20px 0px;
      padding-left: 50px;
      .toggle {
        opacity: 1;
        display: inline;
      }
      overflow: hidden;
      .contact-title {font-size: 2.5rem;}
    }
  }
}

@media (max-width: 820px) {
  .contact {
    .contact-form {
      &.opened {padding: 0 50px;}
      .contact-form-ws:first-of-type {flex: 0;}
      .contact-title {
        font-size: 2.3rem;
        flex: 1;
      }
      form {
        flex: 40;
        textarea {flex: 10;}
      }
    }
  }
}

@media (max-width: 550px) {
  .contact {
    padding-top: 25px !important;
    .contact-info {
      padding-left: 25px;
      padding-right: 75px;
      .contact-text {
        h2 {font-size: 3rem;}
        p {font-size: 1.3rem;}
      }
      .contact-method {
        height: 120px;
        .method {
          width: 100%;
          height: 60px;
          a {font-size: 0.9rem; line-height: 60px;}
        }
      }
    }
    &.opened {
      .contact-form {
        width: 100%;
        // padding: 20px 30px;
        .toggle {
          right: 10px;
          left: unset;
        }
      }
    }
  }
}