$font: 'Fjalla One';
$white: #f0f0f0;
$black: #232323;
$width: 1000px;

.project-display {
  width: 100%;
  .header {
    width: $width;
    margin: auto;
    position: relative;
    .goback, .go-link {
      position: absolute;
      top: -15px;
      cursor: pointer;
      p, a {
        font-family: $font; color: $black; font-size: 1.5rem;
        &:hover {
          font-weight: 600;
        }
      }
    }
    .goback {
      left: 0;
    }
    .go-link {
      right: 0;
      a {
        text-decoration: none;
      }
    }
  }
  .section-name {
    margin: 25px 0;
    height: 80px;
    h1 {
      font-size: 3rem;
      line-height: 80px;
    }
  }
  .project-content {
    width: $width;
    margin: auto;
    box-sizing: border-box;
    position: relative;
    font-family: $font;
    color: $black;
    .description {
      margin-bottom: 25px;
      p {
        font-size: 1.5rem;
      }
    }
    .used {
      .tech {
        font-size: 1.5rem;
        line-height: 50px;
      }
    }
    .meta {
      margin-bottom: 50px;
      .links {
        .link {
          color: $black;
          text-decoration: none;
          font-size: 1.3rem;
        }
      }
    }
  }
}

@media(max-width: 1400px) {
  $width: 800px;
  .project-display {
    .header {width: $width;}
    .project-content {width: $width;}
  }
}

@media(max-width: 1150px) {
  $width: 700px;
  .project-display {
    .header {width: $width;}
    .project-content {width: $width;}
  }
}


@media(max-width: 1050px) {
  $width: 600px;
  .project-display {
    .header {width: $width;}
    .project-content {width: $width;}
  }
}

@media(max-width: 900px) {
  $width: 500px;
  .project-display {
    .header {
      width: $width;
      .goback, .go-link {
        top: 0px;
        p, a {font-size: 1.3rem;}
      }
    }
    .section-name {
      height: 60px;
      h1 {
        font-size: 2.5rem;
        line-height: 60px;
      }
    }
    .project-content {
      width: $width;
      .description {
        p {font-size: 1.2rem;}
      }
      .used {
        .tech {
          font-size: 1.2rem;
          line-height: 40px;
        }
      }
      .meta {
        .links {
          .link {font-size: 1.2rem;}
        }
      }
    }
  }
}


@media(max-width: 650px) {
  $width: 100%;
  .project-display {
    .header {
      width: $width;
      .goback {left: 50px;}
      .go-link {right: 50px;}
    }
    .project-content {
      width: $width;
      padding: 0 50px;
      box-sizing: border-box;
    }
  }
}


@media(max-width: 600px) {
  .project-display {
    .header {
      .goback, .go-link {top: -10px;}
    }
    .section-name {
      height: 40px;
      h1 {
        font-size: 2rem;
        line-height: 40px;
      }
    }
    .project-content {
      .description {
        p {font-size: 1.1rem;}
      }
    }
  }
}


@media(max-width: 550px) {
  .project-display {
    .project-content {padding: 0 25px;}
  }
}
