$font: 'Montserrat';
$bFont: 'Fjalla One';
$fColor: black;
$nHeight: 80px;
$tSize: 2rem;
$stSize: 0.9rem;
$bWidth: 200px;
$mWidth: 400px;
$smHeight: 30px;
$lgHeight: 55px;

.navbar {
  width: 100%;
  height: $nHeight;
  font-family: $font;
  
  .branding, .menu {
    text-align: center;
    color: $fColor;
    float: left;
  }
  
  .branding {
    font-family: $bFont;
    width: $bWidth;
    overflow: hidden;
    .title, .subtitle {text-transform: uppercase;}
    .title {
      font-weight: 800;
      font-size: $tSize;
      letter-spacing: -1px;
      line-height: $lgHeight;
      height: $lgHeight;
    }

    .subtitle {
      letter-spacing: 2px;
      font-size: $stSize;
      line-height: $smHeight;
      height: $smHeight;
      margin-top: -5px;
    }
  }

  .menu {
    width: $mWidth;
    float: right;
    height: $smHeight;
    margin-top: 25px;
    .menu-ham {
      width: 40px;
      height: 0px;
      overflow: hidden;
      position: absolute;
      right: 25px; top: 22.5px;
      .bar {
        width: 100%;
        height: 4px;
        background: black;
        position: absolute;
        &:first-of-type {top: 0;}
        &:nth-of-type(2) {top: 0; bottom: 0; margin: auto;}
        &:last-of-type {bottom: 0;}
      }
    }
    .menu-list {
      display: block;
    } 
    .menu-item {
      font-size: $stSize;
      cursor: pointer;
      float: right;
      margin: 0 25px;
      font-weight: bold;
      line-height: $smHeight;
    }
  }
}

@media(max-width: 1000px) {
  $tSize: 1.5rem;
  $stSize: 0.7rem;
  $bWidth: 150px;
  
  .navbar {
    .branding {
      width: $bWidth;
      .title {font-size: $tSize;}
      .subtitle {
        font-size: $stSize;
        margin-top: -10px;
      }
    }
  }
}

@media(max-width: 850px) {
  $nHeight: 70px;
  $bWidth: 130px;
  $mWidth: 380px;
  
  .navbar {
    height: $nHeight;
    .branding {
      width: $bWidth;
      .subtitle {margin-top: -15px;}
    }
  
    .menu {
      width: $mWidth;
      margin-top: 20px;
      .menu-item {margin: 0 20px;}
    }
  }
}

@media(max-width: 750px) {
  $mWidth: 350px;
  .navbar {
    .menu {
      width: $mWidth;
      .menu-item {margin: 0 15px;}
    }
  }
}

@media(max-width: 650px) {
  $nHeight: 70px;
  $tSize: 1.5rem;
  $stSize: 0.7rem;
  $bWidth: 130px;

  $mWidth: 350px;

  $smHeight: 25px;
  $lgHeight: 50px;
  
  .navbar {
    // height: $nHeight;


    .branding, .menu {
      // float: left;
    }
    
    .branding {
      // width: $bWidth;


      .title {
        // font-size: $tSize;
        // line-height: $lgHeight;
        // height: $lgHeight;
      }
  
      .subtitle {
        // font-size: $stSize;
        // line-height: $smHeight;
        // height: $smHeight;
        // margin-top: -15px;
      }
    }
  
    .menu {
      width: $mWidth;
      // height: $smHeight;
      
      // margin-top: 20px;
      .menu-ham {
        height: 25px;
      }
      .menu-list {
        display: block;
      }
      .menu-item {
        display: none;
        // font-size: $stSize;
        margin: 0 15px;
        // line-height: $smHeight;
      }
    }
  }
}