$font: 'Montserrat';
$bFont: 'Fjalla One';
$fColor: black;
$nHeight: 80px;
$tSize: 2rem;
$stSize: 0.9rem;
$bWidth: 200px;
$mWidth: 400px;
$smHeight: 30px;
$lgHeight: 55px;

.navbar {
  width: 100%;
  height: $nHeight;
  font-family: $font;
  
  .branding, .menu {
    text-align: center;
    color: $fColor;
    float: left;
  }
  
  .branding {
    font-family: $bFont;
    width: $bWidth;
    overflow: hidden;
    .title, .subtitle {text-transform: uppercase;}
    .title {
      font-weight: 800;
      font-size: $tSize;
      letter-spacing: -1px;
      line-height: $lgHeight;
      height: $lgHeight;
    }

    .subtitle {
      letter-spacing: 2px;
      font-size: $stSize;
      line-height: $smHeight;
      height: $smHeight;
      margin-top: -5px;
    }
  }

  .menu {
    width: $mWidth;
    float: right;
    height: $smHeight;
    margin-top: 25px;
    .menu-item {
      font-size: $stSize;
      cursor: pointer;
      float: left;
      margin: 0 25px;
      font-weight: bold;
      line-height: $smHeight;
    }
  }
}

@media(max-width: 1000px) {
  $nHeight: 80px;
  $tSize: 2rem;
  $stSize: 0.9rem;
  $bWidth: 200px;
  $mWidth: 400px;
  $smHeight: 30px;
  $lgHeight: 55px;
  
  .navbar {
    // height: $nHeight;
    .branding, .menu {
      // float: left;
    }
    
    .branding {
      width: $bWidth;
      .title {
        // font-size: $tSize;
        // line-height: $lgHeight;
        // height: $lgHeight;
      }
  
      .subtitle {
        // font-size: $stSize;
        // line-height: $smHeight;
        // height: $smHeight;
        // margin-top: -5px;
      }
    }
  
    .menu {
      // width: $mWidth;
      // height: $smHeight;
      // margin-top: 25px;
      .menu-item {
        // font-size: $stSize;
        // margin: 0 25px;
        // line-height: $smHeight;
      }
    }
  }
}