* {margin: 0;}

input {
  &::placeholder { color: white; opacity: 1; font-family: 'Montserrat';}
  &:-ms-input-placeholder { color: white; font-family: 'Montserrat';}
  &::-ms-input-placeholder { color: white; font-family: 'Montserrat';}
  &:focus {outline: none;}
}

html, body {margin: 0; padding: 0;}

body {
  overflow-x: hidden;
  width: 100vw;
  max-width: 100%;
  // height: 100vh;
  // scrollbar-width: none;
  // -ms-overflow-style: none;
}

.body-wrapper {
  width: 100%;
  height: 300vh;
  background-color: #f0f0f0;
  .content {
    width: 100%;
    box-sizing: border-box;
    padding-left: 300px;
    .section {
      width: 100%;
    } 
    .projects {
      width: 100%;
      box-sizing: border-box;
      padding: 0 50px;
      padding-top: 50px;
      .row {
        width: 1200px;
        margin: auto;
        margin-bottom: 40px;
        height: 400px;
        position: relative;
        display: flex;
      }
    }
    .skills {
      .skill-row {
        .skill-column {
          width: 300px;
          float: left;
          .skill {
            width: 250px;
            width: 300px;
            height: 60px;
            float: left;
            overflow: hidden;
            border: 1px solid green;
            box-sizing: border-box;
            position: relative;
            .skill-icon {
              width: 60px; height: 60px;
              float: left;
              position: absolute;
              img {
                width: 80%;
                height: 80%;
                object-fit: contain;
                object-position: center;
              }
            }
            .skill-name {
              height: 40px;
              overflow: hidden;
              position: absolute;
              left: 100px;
              p {
                line-height: 40px;
                margin-top: 10px;
                margin-left: 10px;
                text-align: left;
                color: white;
                color: #909090;
                font-family: 'Montserrat';
                text-transform: capitalize;
                text-transform: uppercase;
                font-weight: 600;
  
              }
            }
          }
        }
        
      }
    }
  }
}