* {margin: 0;}

input, textarea {
  &::placeholder { color: #232323; opacity: 1; font-family: 'Fjalla One';}
  &:-ms-input-placeholder { color: #232323; font-family: 'Fjalla One';}
  &::-ms-input-placeholder { color: #232323; font-family: 'Fjalla One';}
  &:focus {outline: none;}
}

html, body {margin: 0; padding: 0;}

body {
  overflow-x: hidden;
  width: 100vw;
  max-width: 100%;
  background-color: #f0f0f0;

  // height: 100vh;
  // scrollbar-width: none;
  // -ms-overflow-style: none;
}

.body-wrapper {
  width: 100%;
  height: auto;
  .content {
    width: 100%;
    box-sizing: border-box;
    .section {
      background-color: #f0f0f0;
      width: 100%;
      box-sizing: border-box;
      padding-left: 300px;
      padding-top: 50px;
      position: absolute;
      min-height: 100vh;
      z-index: 9;
      &.startPos {
        left: 100vw;
        left: 100%;
      }
    } 

    .projects {
      width: 100%;
      .row {
        width: 1200px;
        height: 400px;
        margin: auto;
        margin-bottom: 40px;
        position: relative;
        display: flex;
      }
    }
    .skills {
      padding-top: 100px;
      min-height: 900px;
      height: 100vh;
      .skill-row {
        width: 1200px;
        margin: auto;
        position: relative;
        clear: both;
        margin-bottom: 50px;
        .skill-column {
          width: 50%;
          float: left;
          &.full {
            width: 100%; margin-top: 100px;
            .skill {width: 33%;}
          }
          .column-title {
            font-family: 'Fjalla One';
            text-align: center;
            margin-bottom: 25px;
            font-size: 2rem;
          }
          .skill {
            width: 50%;
            height: 60px;
            float: left;
            overflow: hidden;
            padding: 15px 0;
            position: relative;
            &:hover {
              .skill-icon {
                img {filter: grayscale(0);}
              }
              .skill-name {
                font-size: 1.1rem;
              }
            }

            .skill-icon {
              width: 60px; height: 60px;
              float: left;
              position: absolute;
              img {
                width: 80%;
                height: 80%;
                object-fit: contain;
                object-position: center;
                filter: grayscale(1);
                transition: 0.2s;
              }
            }
            .skill-name {
              height: 40px;
              overflow: hidden;
              position: absolute;
              left: 100px;
              p {
                line-height: 40px;
                margin-top: 10px;
                margin-left: 10px;
                text-align: left;
                color: #232323;
                font-family: 'Montserrat';
                text-transform: capitalize;
                text-transform: uppercase;
                transition: 0.2s;
                font-weight: 600;
              }
            }
          }
        }
        
      }
    }
    .about {
      height: 650px;
      .about-content {
        padding-left: 50px;

        .about-text {
          font-family: 'Fjalla One';
          font-size: 1.2rem;
          margin-bottom: 10px;
          &.about-name {
            font-size: 3rem;
            margin-bottom: 50px;
          }
          &.about-extra {
            margin-top: 50px;
            margin-bottom: 0px;
          }
        }
      }
    }
    .contact {
      height: 550px;
      .contact-info {
        width: 500px;
        width: 100%;
        padding-left: 50px;
        padding-right: 450px;
        box-sizing: border-box;
        font-family: 'Fjalla One';
        text-align: center;
        .contact-text {
          h2 {
            font-size: 5rem;
            margin-bottom: 50px;
          }
          p {
            font-size: 2rem;
            margin-bottom: 50px;
          }
        }
        .contact-method {
          .method {
            width: 50%;
            height: 80px;
            float: left;
            a {
              color: #232323;
              color: black;
              text-decoration: none;
              line-height: 80px;              
            }
          }
        }
      }
      .contact-form {
        position: absolute;
        background-color: #232323;
        width: 400px;
        // width: 25%;
        overflow: hidden;
        height: 100%;
        top: 0; bottom: 0; right: 0;
        margin: auto;
        box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.3);
        font-family: 'Fjalla One';
        padding: 20px 30px;
        box-sizing: border-box;
        text-align: center;
        display: flex;
        flex-direction: column;
        .contact-form-ws {flex: 1;}
        .contact-title {
          font-size: 3rem;
          color: #f0f0f0;
          flex: 2;
        }
        form {
          flex: 8; 
          display: flex; 
          flex-direction: column;
          input, textarea, button {
            font-family: 'Fjalla One';
            width: 100%;
            border: none;
            padding: 5px 10px;
            box-sizing: border-box;
            margin-top: 25px;
            background-color: #f0f0f0;
            font-size: 1rem;
          }
          input {
            height: 40px;
            // height: 20%;
            flex: 1;
          }
          button {
            cursor: pointer;
            letter-spacing: 2px;
            font-size: 1.5rem;
            flex: 1;
          }
          textarea {
            height: 150px;
            resize: none;
            flex: 5;
          }
        }
      }
    }
  }
}