* {margin: 0;}

input {
  &::placeholder { color: white; opacity: 1; font-family: 'Montserrat';}
  &:-ms-input-placeholder { color: white; font-family: 'Montserrat';}
  &::-ms-input-placeholder { color: white; font-family: 'Montserrat';}
  &:focus {outline: none;}
}

html, body {margin: 0; padding: 0;}

body {
  overflow-x: hidden;
  width: 100vw;
  max-width: 100%;
  // height: 100vh;
  // scrollbar-width: none;
  // -ms-overflow-style: none;
}

.body-wrapper {
  width: 100%;
  height: 300vh;
  background-color: #f0f0f0;
  .content {
    width: 100%;
    box-sizing: border-box;
    padding-left: 300px;
    .section {
      width: 100%;
      box-sizing: border-box;
      padding: 0 50px;
      padding-top: 50px;
      .section-name {
        position: absolute;
        text-align: center;
        width: 100px;
        height: 100%;
        h1 {
          width: 80px;
          line-height: 80px;
          font-size: 3rem;
          margin-left: 5px;
          writing-mode: vertical-rl;
          overflow: hidden;
          text-align: center;
          height: 200px;
          text-orientation: sideways-right;
          font-family: 'Fjalla One';
          top: 0; bottom: 0; 
          position: absolute;
          margin: auto;
        }
      }
    } 
    .projects {
      .section-name {right: 0;}
      .row {
        width: 1200px;
        height: 400px;
        margin: auto;
        margin-bottom: 40px;
        position: relative;
        display: flex;
      }
    }
    .skills {
      padding-top: 100px;
      height: 900px;
      .section-name {
        left: 300px;
        height: 900px;
        h1 {
          margin-left: 0px;
          transform: rotate(180deg);
          height: 120px;
          top: -150px;
        }
      }
      .skill-row {
        width: 1200px;
        margin: auto;
        position: relative;
        clear: both;
        margin-bottom: 50px;
        .skill-column {
          width: 50%;
          float: left;
          &.full {
            width: 100%; margin-top: 50px;
            .skill {width: 33%;}
          }
          .column-title {
            font-family: 'Fjalla One';
            text-align: center;
            margin-bottom: 25px;
            font-size: 2rem;
          }
          .skill {
            width: 50%;
            height: 60px;
            float: left;
            overflow: hidden;
            padding: 15px 0;
            position: relative;
            &:hover {
              .skill-icon {
                img {filter: grayscale(0);}
              }
              .skill-name {
                font-size: 1.1rem;
              }
            }

            .skill-icon {
              width: 60px; height: 60px;
              float: left;
              position: absolute;
              img {
                width: 80%;
                height: 80%;
                object-fit: contain;
                object-position: center;
                filter: grayscale(1);
                transition: 0.2s;
              }
            }
            .skill-name {
              height: 40px;
              overflow: hidden;
              position: absolute;
              left: 100px;
              p {
                line-height: 40px;
                margin-top: 10px;
                margin-left: 10px;
                text-align: left;
                color: #232323;
                font-family: 'Montserrat';
                text-transform: capitalize;
                text-transform: uppercase;
                transition: 0.2s;
                font-weight: 600;
              }
            }
          }
        }
        
      }
    }
  }
}