* {margin: 0;}

input, textarea {
  &::placeholder { color: #232323; opacity: 1; font-family: 'Fjalla One';}
  &:-ms-input-placeholder { color: #232323; font-family: 'Fjalla One';}
  &::-ms-input-placeholder { color: #232323; font-family: 'Fjalla One';}
  &:focus {outline: none;}
}

html, body {margin: 0; padding: 0;}

body {
  overflow-x: hidden;
  width: 100vw;
  max-width: 100%;
  background-color: #f0f0f0;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
::-webkit-scrollbar {
  display: none;
}

// new
$pageContainer: 1400px;
.page-container {
  width: $pageContainer;
  margin: auto;
  box-sizing: border-box;
}


@media(max-width: 1600px) {
  $pageContainer: 1200px;
  .page-container {width: $pageContainer;}
}

@media(max-width: 1400px) {
  $pageContainer: 1100px;
  .page-container {width: $pageContainer;}
}

@media(max-width: 1200px) {
  $pageContainer: 900px;
  .page-container {width: $pageContainer;}
}

@media(max-width: 1000px) {
  $pageContainer: 800px;
  .page-container {width: $pageContainer;}
}

@media(max-width: 850px) {
  $pageContainer: 700px;
  .page-container {width: $pageContainer;}
}

@media(max-width: 750px) {
  $pageContainer: 600px;
  .page-container {width: $pageContainer;}
}

@media(max-width: 650px) {
  $pageContainer: 100%;
  .page-container {
    width: $pageContainer;
    padding: 0 50px;
  }
}


// old
.body-wrapper {
  width: 100vw;
  max-width: 100%;
  overflow-x: hidden;
  height: auto;
  .content {
    width: 100%;
    box-sizing: border-box;
    .section {
      background-color: #f0f0f0;
      width: 100%;
      box-sizing: border-box;
      padding-left: 300px;
      padding-top: 50px;
      position: absolute;
      min-height: 100vh;
      z-index: 9;
      &.startPos {
        transform: scale(0);
      }
    } 
  }
}

@media (max-width: 1200px) {
  .body-wrapper {
    .content {
      .section {padding-left: 250px;} 
    }
  }
}

@media (max-width: 950px) {
  .body-wrapper {
    .content {
      .section {padding-left: 200px;} 
    }
  }
}


@media (max-width: 820px) {
  .body-wrapper {
    .content {
      .section {
        padding-left: 50px;
      } 
    }
  }
}