.about {
  height: auto;
  .about-content {
    padding-left: 50px;
    padding-right: 50px;

    .about-text {
      font-family: 'Fjalla One';
      font-size: 1.2rem;
      margin-bottom: 10px;
      &.about-name {
        font-size: 3rem;
        margin-bottom: 50px;
      }
      &.about-extra {
        margin-top: 50px;
        margin-bottom: 0px;
      }
    }
  }
}

@media(max-width: 812px) {
  .about {
    padding-top: 25px !important;
    .about-content {
      .about-text {
        &.about-name {margin-bottom: 30px;}
        &.about-extra {margin-top: 30px;}
      }
    }
  }
}

@media(max-width: 600px) {
  .about {
    .about-content {
      padding-left: 25px;
      padding-right: 25px;
      .about-text {
        font-size: 1rem;
        &.about-name {font-size: 2.5rem;}
      }
    }
  }
}
